*{
    margin: 0px;   

    box-sizing: border-box;
    font-size: 40px;
    text-align:left;
    font-family: 'Rubik', sans-serif;
}

body{
    font-family: 'Rubik', sans-serif;}
a{
    text-decoration: none;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}

    .header{
        background: url(/WebMau/images/photo-1624359136353-f60129a367b9.jpg);
        background-attachment: center;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        

    }

        .menu{
            margin: 7px;
            background-color: transparent;
            padding: auto;
            display: flex;
            flex-flow: row nowrap;
            height: auto;
            align-items: center;
            border: 4px solid black;
        }   

            .logo{
                font-family: 'Rubik', sans-serif;
                background-color: transparent;
                flex: 1 1 auto;
                text-align: center;
            }
                .logo a{
                    color: black;
                    font-size: 45px;
                    
                }
                .logo a:hover{
                    color: #334257;
                }
            .nav{
                font-family: 'Rubik', sans-serif;
                background-color: transparent;
                flex: 10 10 auto;
                text-align: right;
                margin: 3px;
            }
                .nav a{
                    color: #334257;
                    font-size: 18px;
                    text-transform: uppercase;
                }

                .nav a:hover{
                    color: #5F939A;
                }

            .social{
                background-color: transparent;
                color: black;
                flex: 1 1 auto;
                text-align: center;
            }
                .social a{
                    color: #334257;
                    text-transform: uppercase;
                    font-size: 20px;
                    padding: 0 10px; 
                }
                .social a:hover{
                    color:#5F939A;
                }

        .texto-principal{
          
            display: flex;
            margin: 70%;

            
        }
        
        h1{
            margin: 5%;
            padding: 50%;
            text-align: center;
            height: auto;
            font-size: 18px;
            padding: 128px;
        }

    .section{
        background: url(/WebMau/images/photo-1624359136353-f60129a367b9.jpg);
        flex-flow: column nowrap;


    }
        .articulos{
            background-color: transparent;
            flex: 1 1 auto;
            display: flex;
            flex-flow: row wrap;

        }
            .articulo{
                background-color: transparent ;
                flex: 1 1 50%;
                height: 60px;
            }

            .navegacion{
                background: #EEEEEE;
                flex: 1 1 100%;
                height: 35px;
            }

       

    .footer{
        background: url(/WebMau/images/photo-1624359136353-f60129a367b9.jpg);
        display: flex;
        justify-content: left;
        color: black;
        font-size: 10px;
        margin: 0px;
        
    }
        .pie{
            font-size: 30px;
            background-color: transparent;
            color: black;
            height: 50px;
            padding: 10px;
           
        }

@media all and (max-width:900px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    
}
@media all and (max-width:730px){

    .articulos{
        flex-direction: column;
    
    }
    
}


