.padre {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}

.header,
.articulo,
.footer,
.der,
.izq {

    flex-grow: 1;
    flex-basis: 100%;
    padding: 10px;
}

@media all and (min-width: 600px){
    .aside{
        flex: 1 1 auto;
    }
}
@media all and (min-width: 800px){
    .articulo{flex: 2 0;}
    .izq{order: 2;}
    .articulo{order: 3;}
    .der{order: 4;}
    .footer{order: 5;}
    
}


.header {
    background-color: blueviolet;
}

.articulo {
    background-color: brown;
}

.footer {
    background-color: cadetblue;

}

.der {
    background-color: coral;
}

.izq {
    background-color: crimson;
}